.jumbotron {
    margin-top: 5em;
    background: url('images/jumbotron.png');
    background-size: contain;
    background-position: right;
    background-repeat: no-repeat;
    height: 555px;
        .volk {
            width: 50%;
            margin: 0 auto;
            
        }
        h1 {
            font-family: legacy serif ositc tt;
            
            }
        h2 {
            
            font-family: irongate;
        }
    
    
    }

    .slide1 {
        background-color: #C7C7C7;
        height: 750px;
    }